
h1,
h2,
h3,
p {
	margin: 0;
}

ul {
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

.page {
	/* padding-top: 80px; */
	font-family: "DM Sans", sans-serif;
	color: var(--primary-text-color);
	background-color: var(--primare-bg-color);
}
