<section class="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__title">Find your inspiration</h2>
    <ul class="gallery__list list">
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/andy-holmes-FKB8m6NhaQM-unsplash-min.jpg 8000w,
              ./images/gallery/mobile/andy-holmes-FKB8m6NhaQM-unsplash-min.jpg  2000w
            "
            sizes="(min-width: 1200px) 8000px, (max-width: 1199px) 2000px"
            src="./images/gallery/desktop/andy-holmes-FKB8m6NhaQM-unsplash-min.jpg"
            alt="tiny monkey"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/andy-holmes-JO9x4A1kMCA-unsplash-min.jpg 8000w,
              ./images/gallery/mobile/andy-holmes-JO9x4A1kMCA-unsplash-min.jpg  2000w
            "
            sizes="(min-width: 1200px) 8000px, (max-width: 1199px) 2000px"
            src="./images/gallery/desktop/andy-holmes-JO9x4A1kMCA-unsplash-min.jpg"
            alt="red bird"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/diana-serbichenko-1hE2TGX3EzI-unsplash-min.jpg 4600w,
              ./images/gallery/mobile/diana-serbichenko-1hE2TGX3EzI-unsplash-min.jpg  1000w
            "
            sizes="(min-width: 1200px) 4600px, (max-width: 1199px) 1000px"
            src="./images/gallery/desktop/diana-serbichenko-1hE2TGX3EzI-unsplash-min.jpg"
            alt="blooming tree"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/diana-serbichenko-Z7A9JxDXBoQ-unsplash-min.jpg 4600w,
              ./images/gallery/mobile/diana-serbichenko-Z7A9JxDXBoQ-unsplash-min.jpg  1000w
            "
            sizes="(min-width: 1200px) 4600px, (max-width: 1199px) 1000px"
            src="./images/gallery/desktop/diana-serbichenko-Z7A9JxDXBoQ-unsplash-min.jpg"
            alt="wasp on a flower"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/hunter-reilly-Y-6kJMhoDFc-unsplash-min.jpg 3800w,
              ./images/gallery/mobile/hunter-reilly-Y-6kJMhoDFc-unsplash-min.jpg   960w
            "
            sizes="(min-width: 1200px) 3800px, (max-width: 1199px) 960px"
            src="./images/gallery/desktop/hunter-reilly-Y-6kJMhoDFc-unsplash-min.jpg"
            alt="mountains"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/jasmin-ne-LEuQ-CUg7kY-unsplash-min.jpg 9500w,
              ./images/gallery/mobile/jasmin-ne-LEuQ-CUg7kY-unsplash-min.jpg  2300w
            "
            sizes="(min-width: 1200px) 9500px, (max-width: 1199px) 2300px"
            src="./images/gallery/desktop/jasmin-ne-LEuQ-CUg7kY-unsplash-min.jpg"
            alt="elephants"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/julien-riedel-PDaNXnMEfGo-unsplash-min.jpg 6000w,
              ./images/gallery/mobile/julien-riedel-PDaNXnMEfGo-unsplash-min.jpg  1500w
            "
            sizes="(min-width: 1200px) 6000px, (max-width: 1199px) 1500px"
            src="./images/gallery/desktop/julien-riedel-PDaNXnMEfGo-unsplash-min.jpg"
            alt="ice cube in hand"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/kateryna-ivanova-wEFcFq7yiZg-unsplash-min.jpg 3000w,
              ./images/gallery/mobile/kateryna-ivanova-wEFcFq7yiZg-unsplash-min.jpg   800w
            "
            sizes="(min-width: 1200px) 3800px, (max-width: 1199px) 960px"
            src="./images/gallery/desktop/kateryna-ivanova-wEFcFq7yiZg-unsplash-min.jpg"
            alt="three meerkats"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/kym-mackinnon-DWtgrl_tjFY-unsplash-min.jpg 4300w,
              ./images/gallery/mobile/kym-mackinnon-DWtgrl_tjFY-unsplash-min.jpg  1000w
            "
            sizes="(min-width: 1200px) 4300px, (max-width: 1199px) 1000px"
            src="./images/gallery/desktop/kym-mackinnon-DWtgrl_tjFY-unsplash-min.jpg"
            alt="full moon"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/michael-dziedzic-ZnWjdyRzs-4-unsplash-min.jpg 4600w,
              ./images/gallery/mobile/michael-dziedzic-ZnWjdyRzs-4-unsplash-min.jpg  1000w
            "
            sizes="(min-width: 1200px) 4600px, (max-width: 1199px) 1000px"
            src="./images/gallery/desktop/michael-dziedzic-ZnWjdyRzs-4-unsplash-min.jpg"
            alt="pink flower"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/sina-bahar-SoKd1HYa9BI-unsplash-min.jpg 6000w,
              ./images/gallery/mobile/sina-bahar-SoKd1HYa9BI-unsplash-min.jpg  1500w
            "
            sizes="(min-width: 1200px) 6000px, (max-width: 1199px) 1500px"
            src="./images/gallery/desktop/sina-bahar-SoKd1HYa9BI-unsplash-min.jpg"
            alt="mountains"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/sina-rezakhani-8HGIFKzT4-unsplash-min.jpg 3600w,
              ./images/gallery/mobile/sina-rezakhani-s8HGIFKzT4-unsplash-min.jpg 1000w
            "
            sizes="(min-width: 1200px) 3600px, (max-width: 1199px) 1000px"
            src="./images/gallery/desktop/sina-rezakhani-8HGIFKzT4-unsplash-min.jpg"
            alt="green tree"
          />
        </a>
      </li>
      <li class="gallery__item">
        <a href="" class="gallery__link">
          <img
            class="gallery__img"
            srcset="
              ./images/gallery/desktop/tamara-bitter-idACy7_Y0CQ-unsplash-min.jpg 4400w,
              ./images/gallery/mobile/tamara-bitter-idACy7_Y0CQ-unsplash-min.jpg  1000w
            "
            sizes="(min-width: 1200px) 4400px, (max-width: 1199px) 1000px"
            src="./images/gallery/desktop/tamara-bitter-idACy7_Y0CQ-unsplash-min.jpg"
            alt="pink flower"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
