<!-- <section class="gallery">
    <picture>
        <!-- <source
            media="(min-width:1200px)"
            srcset="./image/team_adptv/d_team-4@1x.jpg 1x, ./image/team_adptv/d_team-4@2x.jpg 2x"
            type="image/jpeg"
        /> -->
        <!-- <source
            media="(min-width:768px)"
            srcset="./image/team_adptv/t_team-4@1x.jpg 1x, ./image/team_adptv/t_team-4@2x.jpg 2x"
            type="image/jpeg"
        /> -->
        <!-- <source
            media="(max-width:767px)"
            srcset="./images/ice-cream-gallery/Group-mob.png 1x, ./images/ice-cream-gallery/Group-mob.png 2x"
            type="image/png"
        />
        <img src="./images/ice-cream-gallery/Group-mob.png" alt="Photo gallery of goodies" width="320" class="gallery__img" />
        </picture>
</section> --> -->