<section class="hero">
  <h1 class="hero-title">Start project</h1>
  <ul class="hero-list">
    <li class="hero-item"><a href="" class="hero-link">Hero</a></li>
    <li class="hero-item"><a href="" class="hero-link">Contacts</a></li>
    <li class="hero-item"><a href="" class="hero-link">Footer</a></li>
  </ul>
</section>

<section class="hero">
  <h1 class="hero-title">ice cream made with <span class="hero-title-big">passion</span> </h1>
  <a href="" class="hero-products">Products</a>
  <a href="" class="hero-made">How it’s made?</a>
</section>
