<section class="gallery">
  <ul class="gallery-list list">
    <div class="gallery-wrap-1">
      <li class="gallery-item link">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/ice-cream-gallery/home-pic-1-mob@1x.jpg 1x,
              ./images/ice-cream-gallery/home-pic-1-mob@2x.jpg 2x
            "
            type="image/jpeg"
          />
  
          <img
            src="./images/ice-cream-gallery/home-pic-1-mob.jpg"
            alt=""
            class="gallery-image box1"
            width="43.59"
            height="43.86"
          />
        </picture>
      </li>
    </div>
  
    <div class="gallery-wrap-2">
      <li class="gallery-item link">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/ice-cream-gallery/home-pic-2-mob@1x.jpg 1x,
              ./images/ice-cream-gallery/home-pic-2-mob@2x.jpg 2x
            "
            type="image/jpeg"
          />
  
          <img
            src="./images/ice-cream-gallery/home-pic-2-mob.jpg"
            alt=""
            class="gallery-image box1"
            width="43.59"
            height="43.86"
          />
        </picture>
      </li>
      <li class="gallery-item link">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/ice-cream-gallery/home-pic-3-mob@1x.jpg 1x,
              ./images/ice-cream-gallery/home-pic-3-mob@2x.jpg 2x
            "
            type="image/jpeg"
          />
  
          <img
            src="./images/ice-cream-gallery/home-pic-3-mob.jpg"
            alt=""
            class="gallery-image box1"
            width="43.59"
            height="43.86"
          />
        </picture>
      </li>
    </div>
    <div class="gallery-wrap-3">
      <li class="gallery-item link">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/ice-cream-gallery/home-pic-4-mob@1x.jpg 1x,
              ./images/ice-cream-gallery/home-pic-4-mob@2x.jpg 2x
            "
            type="image/jpeg"
          />
  
          <img
            src="./images/ice-cream-gallery/home-pic-4-mob.jpg"
            alt=""
            class="gallery-image box1"
            width="89.40"
            height="89.61"
          />
        </picture>
      </li>
      <li class="gallery-item link">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/ice-cream-gallery/home-pic-5-mob@1x.jpg 1x,
              ./images/ice-cream-gallery/home-pic-5-mob@2x.jpg 2x
            "
            type="image/jpeg"
          />
  
          <img
            src="./images/ice-cream-gallery/home-pic-5-mob.jpg"
            alt=""
            class="gallery-image box1"
            width="43.59"
            height="43.86"
          />
        </picture>
      </li>
    </div>
    <div class="gallery-wrap-4">
      <li class="gallery-item link">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/ice-cream-gallery/home-pic-6-mob@1x.jpg 1x,
              ./images/ice-cream-gallery/home-pic-6-mob@2x.jpg 2x
            "
            type="image/jpeg"
          />
  
          <img
            src="./images/ice-cream-gallery/home-pic-6-mob.jpg"
            alt=""
            class="gallery-image box1"
            width="43.59"
            height="43.86"
          />
        </picture>
      </li>
      <li class="gallery-item link">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/ice-cream-gallery/home-pic-7-mob@1x.jpg 1x,
              ./images/ice-cream-gallery/home-pic-7-mob@2x.jpg 2x
            "
            type="image/jpeg"
          />
  
          <img
            src="./images/ice-cream-gallery/home-pic-7-mob.jpg"
            alt=""
            class="gallery-image box1"
            width="43.59"
            height="43.86"
          />
        </picture>
      </li>
    </div>
    <div class="gallery-wrap-5">
      <li class="gallery-item link">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/ice-cream-gallery/home-pic-8-mob@1x.jpg 1x,
              ./images/ice-cream-gallery/home-pic-8-mob@2x.jpg 2x
            "
            type="image/jpeg"
          />
  
          <img
            src="./images/ice-cream-gallery/home-pic-8-mob.jpg"
            alt=""
            class="gallery-image box1"
            width="43.59"
            height="43.86"
          />
        </picture>
      </li>
      <li class="gallery-item link">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/ice-cream-gallery/home-pic-9-mob@1x.jpg 1x,
              ./images/ice-cream-gallery/home-pic-9-mob@2x.jpg 2x
            "
            type="image/jpeg"
          />
  
          <img
            src="./images/ice-cream-gallery/home-pic-9-mob.jpg"
            alt=""
            class="gallery-image box1"
            width="43.59"
            height="43.86"
          />
        </picture>
      </li>
    </div>
    <div class="gallery-wrap-6">
      <li class="gallery-item link">
        <picture class="gallery-image">
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/ice-cream-gallery/home-pic-10-mob@1x.jpg 1x,
              ./images/ice-cream-gallery/home-pic-10-mob@2x.jpg 2x
            "
            type="image/jpeg"
          />
  
          <img
            src="./images/ice-cream-gallery/home-pic-10-mob.jpg"
            alt=""
            class="gallery-image box1"
            width="43.59"
            height="43.86"
          />
        </picture>
      </li>
    </div>
  </ul>
  </section>