<ul class="gallery-list list">
    <div class="gallery-wrap-1">
        <li class="gallery-item link">
    <img
      src="./images/ice-cream-gallery/home-pic-1.jpg"
      alt=""
      class="gallery-image box1"
      width="104.62"
      height="105.14"
    />
  </li>
    </div>
  

  <div class="gallery-wrap-2">
    <li class="gallery-item link">
    <img
      src="./images/ice-cream-gallery/home-pic-2.jpg"
      alt=""
      class="gallery-image box2"
      width="104.62"
      height="105.14"
    />
  </li>
  <li class="gallery-item link">
    <img
      src="./images/ice-cream-gallery/home-pic-3.jpg"
      alt=""
      class="gallery-image box3"
      width="104.62"
      height="105.14"
    />
  </li>
  </div>
  <div class="gallery-wrap-3">
    <li class="gallery-item link box4">
    <img
      src="./images/ice-cream-gallery/home-pic-4.jpg"
      alt=""
      class="gallery-image "
      width="214.55"
      height="214.81"
    />
  </li>
  <li class="gallery-item link box5">
    <img
      src="./images/ice-cream-gallery/home-pic-5.jpg"
      alt=""
      class="gallery-image "
      width="104.62"
      height="105.14"
    />
  </li>
  </div>
  <div class="gallery-wrap-4">
    <li class="gallery-item link">
    <img
      src="./images/ice-cream-gallery/home-pic-6.jpg"
      alt=""
      class="gallery-image box6"
      width="104.62"
      height="105.14"
    />
  </li>
  <li class="gallery-item link">
    <img
      src="./images/ice-cream-gallery/home-pic-7.jpg"
      alt=""
      class="gallery-image box7"
      width="104.62"
      height="105.14"
    />
  </li>
  </div>
  <div class="gallery-wrap-5">
    <li class="gallery-item link">
    <img
      src="./images/ice-cream-gallery/home-pic-8.jpg"
      alt=""
      class="gallery-image box8"
      width="104.62"
      height="105.14"
    />
  </li>
  <li class="gallery-item link">
    <img
      src="./images/ice-cream-gallery/home-pic-9.jpg"
      alt=""
      class="gallery-image box9"
      width="104.62"
      height="105.14"
    />
  </li>
  </div>
  <div class="gallery-wrap-6">
    <li class="gallery-item link">
    <img
      src="./images/ice-cream-gallery/home-pic-10.jpg"
      alt=""
      class="gallery-image box10"
      width="104.62"
      height="105.14"
    />
  </li>
  </div>
  
</ul>
