<section class="shopping">
  <ul class="shopping-list">
    <li class="shopping-list__item product__item product__item--01">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--02">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--03">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--04">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--05">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--06">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--07">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--08">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--09">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--10">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--11">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--12">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--13">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--14">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--15">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--16">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--17">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--18">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--19">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--20">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--21">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--22">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--23">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--24">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--25">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--26">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--27">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--28">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--29">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
    <li class="shopping-list__item product__item product__item--30">
      <img
        src="./images/apple.jpg"
        alt="apple"
        class="product__image"
        width="100"
      />product name
      <svg class="product__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#cart"></use>
      </svg>
      <p>but</p>
    </li>
  </ul>
</section>
